body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding-top: 50px;
  }
  
  
  
  .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .options a {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .options a:hover {
    transform: scale(1.05);
  }
  
  .options a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }